---
title: Welcome to Middleman
---

<h1>
  Middleman is Running
</h1>
<h2>
  this is h2
</h2>
<!=
<%= tag :img, :src => "images/mansour-kiaei-Ye7qY2c79iM-unsplash.jpg" %>
=>
<%= link_to(
  "Read Documentation",
  "https://middlemanapp.com/basics/templating_language/",
  target: "_blank"
) %>
