<h2>
  jupiter test
</h2>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/105/three.min.js"></script>
<%= javascript_include_tag "pages/forJupiter" %>
<canvas id="myCanvas"></canvas>

<ul>
  <li>
    <%= link_to 'Three.js', 'https://threejs.org/' %>
  </li>
  <li>
    <%= link_to 'Solor System Scope', 'https://www.solarsystemscope.com/textures/' %>
  </li>
</ul>