<h2>Pool</h2>

<section class="ripplePage">
</section>

<h3>References and Credits</h3>
<ul>
  <li>
    <%= link_to 'JQuery Ripples', 'http://sirxemic.github.io/jquery.ripples/' %>
  </li>
  <li>
    <%= link_to 'JQuery', 'https://jquery.com/' %>
  </li>
</ul>


<style>
</style>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery.ripples/0.5.3/jquery.ripples.min.js" 
  integrity="sha256-aL06cXkAHBsVHteJnhSJy9aF3aR4BxwD38ityFHhb4k="
  crossorigin="anonymous">
</script>

<script>
// $('.ripplePage').ripples({
// 	resolution: 512,
// 	dropRadius: 20,
// 	perturbance: 0.04,
// });
</script>

<%= javascript_include_tag "pages/forRipple" %>