<h2>Shader Test3</h2>

<section class="shaderTeatPage">
<style>
#container{
  height: 500px;
  width: 100%;
}
</style>


<div id="container"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/105/three.min.js"></script>

<script id="vertexShader" type="x-shader/x-vertex">
attribute vec3 position;
attribute vec2 uv;

varying vec2 vUv;

void main(void) {
  vUv = uv;
  gl_Position = vec4(position, 1.0);
}
</script>

<script id="fragmentShader" type="x-shader/x-fragment">
</script>




<%= javascript_include_tag "pages/forShaderTest" %>
<script>
</script>