<h2>Shader Test2</h2>

<section class="shaderTeatPage">
<style>
#container{
  height: 500px;
  width: 100%;
}
</style>


<div id="container"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/105/three.min.js"></script>

<script id="vertexShader" type="x-shader/x-vertex">
</script>

<script id="fragmentShader" type="x-shader/x-fragment">
</script>




<%= javascript_include_tag "pages/forShaderTest" %>
<script>
</script>