<h2>Shader Test3</h2>

<section class="shaderTeatPage">
<style>
#container{
  height: 500px;
  width: 70%;
}
</style>


<div id="container"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/105/three.min.js"></script>

<script id="vertexShader" type="x-shader/x-vertex">

varying vec2 vUv;

void main() {
  vUv = uv;
  gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
}
</script>

<script id="fragmentShader" type="x-shader/x-fragment">
precision mediump float;
varying vec2 vUv;
uniform sampler2D uTex;

void main(){
  gl_FragColor = texture2D(uTex, vUv); 
}
</script>




<%= javascript_include_tag "pages/forShaderTest3" %>
<script>
</script>