<h2>Shader Test</h2>

<section class="shaderTeatPage">

  <canvas id="canvas" width="465" height="465">


</section>
  
<script id="shader-vs" type="x-shader/x-vertex">
</script>
  
<script id="shader-fs" type="x-shader/x-fragment">
</script>

<%= javascript_include_tag "pages/forShaderTest" %>